<table class="table table-bordered bg-light mt-3 mb-3 text-center">
    <tr>
        <th class="text-primary" colspan="5">STUDENT LÍT</th>
        <th>
            <a class="btn btn-primary" href="student/add">Add</a>
        </th>
    </tr>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Date</th>
        <th>Image</th>
        <th>Menu</th>
    </tr>
    {{#each student}}
    <tr>
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>{{gender}}</td>
        <td>{{dateFormat mobile.date "DD/MM/YYYY"}}</td>
        <td>
            <a href="student/detail/{{_id}}">
            <img src="{{image}}" width="100" height="100">
            </a>
            </td>
        <td>
            <a class="btn btn-warning" href="student/add/{{_id}}">EDIT</a>
            <a class="btn btn-warning" href="student/delete/{{_id}}">DELETE</a>
        </td>
    </tr>
    {{/each}}
</table>

